{% extends 'base.html' %}  <!-- Наследование базового шаблона -->

{% block title %}Данные загружены{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока контента -->
<h1>Данные успешно загружены</h1>  <!-- Заголовок страницы -->

<div class="button-container">
    <!-- Кнопки навигации -->
    <a href="/tables">Перейти к таблице данных</a>  <!-- Ссылка на страницу с таблицей данных -->
    <a href="/graphs">Перейти к графикам</a>  <!-- Ссылка на страницу с графиками -->
</div>

{% endblock %}  <!-- Конец блока контента -->