{% extends 'base.html' %}  <!-- Наследование базового шаблона -->

{% block title %}Графики{% endblock %}  <!-- Заголовок страницы -->

{% block content %}  <!-- Начало блока контента -->
<div class="button-container">
    <!-- Кнопки навигации -->
    <a href="/tables">Перейти к таблице</a>  <!-- Ссылка на страницу с таблицей -->
    <a href="/">На главную</a>  <!-- Ссылка на главную страницу -->
</div>

<h1>Графики</h1>  <!-- Заголовок страницы -->

<h2>Количество логов по уровням</h2>  <!-- Заголовок графика -->
<!-- Отображение графика в формате base64 -->
<img id="level_histogram" src="data:image/png;base64,{{ level_histogram }}" alt="Количество логов по уровням">

{% endblock %}  <!-- Конец блока контента -->